body {
    margin: auto;
}

header {
    background-color: rgb(87, 181, 240);
    background-image: url(../img/pattern.png);
}

.logo {
    width: 15%;
    padding-left: 8px;
    padding-top: 2.5%;
    padding-bottom: 0.5%;
}

